body{
    background-color: #037575;
    font-family: 'Permanent Marker', sans-serif, cursive;
    color: #fff;
}

/* header section */
header{
    margin-top: 50px;
}
#gamesPlayed{
    float: left;
    margin-top: -54px;
    padding-left: 9px;
    font-size: 11px;
}
#timer{
    float: right;
    margin-top: -54px;
    padding-right: 60px;
}
input#comp.radioButton{
    margin-left: 7px;
}
.container{
    margin: 0 auto;
    text-align: center;
}
.radioButton{
    margin-left: 40px;
}

/* main section */
table{
    table-layout: fixed;
    margin: 0 auto;
}
#main{
    margin-top: 4%;
}
#pTurn{
    margin: 15px auto;
}
.row>td{
    font-size: 35px;
    border: solid 1px white;
    width: 100px;
    height: 75px;
    text-align: center;
    vertical-align: top;
    line-height: 65px;
    display: inline-block;
    margin-top: -4px;
}
.btnCtrl{
    max-width: 300px;
    margin-left: 9px;
}

/* footer */
#instrDtl{
    color: #d3ca78;
}


